{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
<link href="{% static 'css/docs.css' %}" rel="stylesheet">
{% endblock %}


{% block title %}goboAdvisor - Case Studies{{ block.super }}  {% endblock title %}


<!--    <div class="block block-inverse block-fill-height app-header"
         style="background-image: url({# static 'img/relax.jpg' #});">-->

{% block content %}

<div class="block app-ribbon py-5">
  <div class="container text-xs-center">

    <div class="row justify-content-center">
      <div class="col-10 col-sm-8 col-lg-6">
        <h1 class="text-white">Case Studies</h1>
      </div>
    </div>
<!--
    <img src="{% static 'img/startup-4.svg' %}">
    <img src="{% static 'img/startup-5.svg' %}">
    <img src="{% static 'img/startup-6.svg' %}">
    <img src="{% static 'img/startup-7.svg' %}">
    <img src="{% static 'img/startup-8.svg' %}">
-->
  </div>
</div>

<div>
  <li>
    <a href="{% url 'casestudy1' %}">WBI</a></li>

<!--
<div class="block case-studies">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6 px-6 pb-2 mb-1">
        <div class="px-2 mb-0">
          <img src="{% static 'img/vestwell.png' %}" class="mb-0 img-fluid" style="width:300px">
          <h2 class="text-muted text-uppercase mb-2">VESTWELL</h2>


          <p class="pb-2">A startup .</p>
        </div>

      </div>

      <div class="col-md-6 px-6 pb-2 mb-5">
        <div class="px-2 mb-2">
          <img src="{% static 'img/folio.png' %}" class="mb-0 img-fluid" style="width:300px">
          <h2 class="text-muted text-uppercase mb-2">FOLIODYNAMIX</h2>

          <p class="pb-2">Plenty of processing power for any personal projects, big or small.</p>
        </div>

      </div>



    </div>

  </div>
</div>

-->

{% include "contact.html" %}
{% include "footer.html" %}

{% endblock %}
