{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}goboAdvisor - AI for IAs{{ block.super }}  {% endblock title %}




<!--    <div class="block block-inverse block-fill-height app-header"
         style="background-image: url({# static 'img/relax.jpg' #});">-->



{% block content %}

<div class="block app-ribbon py-6">
  <div class="container text-xs-center">

    <div class="row mb-5 justify-content-center">
      <div class="col-10 col-sm-8 col-lg-6">
        <h1 class="mb-1 text-white">Past Projects</h1>
      </div>
    </div>
<!--
    <img src="{% static 'img/startup-4.svg' %}">
    <img src="{% static 'img/startup-5.svg' %}">
    <img src="{% static 'img/startup-6.svg' %}">
    <img src="{% static 'img/startup-7.svg' %}">
    <img src="{% static 'img/startup-8.svg' %}">
-->
  </div>
</div>

{% include "contact.html" %}
{% include "footer.html" %}

{% endblock %}
