{% block contact %}
<div class="block sign-up-form" id="contactus">
  <div class="container text-center">

    <div class="row mb-5 justify-content-center">
      <div class="col-10 col-md-8 col-lg-6">
        <h3 class="text-muted text-uppercase mb-2">Work With Us</h3>
        <h2>Drop us a note and we'll be in touch</h2>
      </div>
    </div>


	<form method="post" role="form" class="post-form">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="save btn btn-default">Save</button>

	</form>
{% endblock %}
