<div class="block block-inverse app-footer">
 <div class="container">
    <div class="row">
      <div class="col-md-5 mb-5">
        <ul class="list-unstyled list-spaced">
          <li class="mb-2"><h6 class="text-uppercase">About</h6></li>
          <li class="text-muted">
             goboAdvisor helps modern brokerage practices save money and time with fewer resources.
             Our goal is to help business owners get more done in less time while providing better solutions than today's robotic competitors.
             If you’d like to learn more we'd love to hear from you <a href="mailto: hello@goboadvisor.com">hello@goboadvisor.com</a>.
          </li>
        </ul>
      </div>
      <div class="col-md-2 ml-auto mb-5">
        <ul class="list-unstyled list-spaced">
          <li class="mb-2"><h6 class="text-uppercase">Services</h6></li>
          <li class="text-muted">Strategic Consulting</li>
          <li class="text-muted">Lead Generation</li>
          <li class="text-muted">Process Optimization</li>
          <li class="text-muted">Learning & Development</li>
        </ul>
      </div>
      <div class="col-md-2 mb-5">
        <ul class="list-unstyled list-spaced">
          <li class="mb-2"><h6 class="text-uppercase">Connectivity</h6></li>
          <li class="text-muted">Prospects</li>
          <li class="text-muted">Custodians</li>
          <li class="text-muted">Platforms</li>
          <li class="text-muted">Sponsors</li>
        </ul>
      </div>
      <div class="col-md-2 mb-5">
        <ul class="list-unstyled list-spaced">
          <li class="mb-2"><h6 class="text-uppercase">Legal</h6></li>
          <li class="text-muted">Terms</li>
          <li class="text-muted">Legal</li>
          <li class="text-muted">Privacy</li>
          <li class="text-muted">License</li>
        </ul>
      </div>
    </div>
  </div>
</div>
