{% extends "base.html" %}
{% load staticfiles %}


        {% block title %}
        goboAdvisor &middot; Our Services
        {% endblock %}



{% block content %}
  <div class="block block-secondary app-block-marketing-grid">
    <div class="container text-xs-center">

      <div class="row mb-2 justify-content-center">
        <div class="col-10 col-sm-8 col-lg-6">
          <h1 class="mb-1">Our Services</h1>
        </div>
      </div>
    </div>
  </div>

<div>
  <div class="container text-xs-center">
    <div class="row justify-content-center">
    <div class="col-sm-8 text-center mb-4">

      <p class="lead mx-auto">We understand the customer because our roots run deep in <strong>sales and operations</strong>.
        We start at the end and reverse engineer problems so that you know where you are and understand where you need to go.</p>
    </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <ul class="featured-list">
          <li class="mb-5">
            <div class="featured-list-icon text-primary">
              <span class="icon icon-image"></span>
            </div>
            <p class="featured-list-icon-text mb-0"><strong>Lead Generation</strong></p>
            <p class="featured-list-icon-text">
              Finding prospects and building brand-name recognition go hand in hand. We help teams locate and target
              potential customers using readily available resources, coaching them through the sales and closing process.
            </p>
          </li>

          <li class="mb-5">
            <div class="featured-list-icon text-primary">
              <span class="icon icon-hour-glass"></span>
            </div>
            <p class="featured-list-icon-text mb-0"><strong>Strategic Consulting</strong></p>
            <p class="featured-list-icon-text">
              Figuring out where to start often prevents people from ever getting starting. We help you clearly communicate your vision while
              reverse engineering the problem so that you can have a map to guide you through the process of building your practice and plans for succession.
            </p>
          </li>

        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="featured-list">

          <li class="mb-5">
            <div class="featured-list-icon text-primary">
              <span class="icon icon-cloud"></span>
            </div>
            <p class="featured-list-icon-text mb-0"><strong>Platform Development </strong></p>
            <p class="featured-list-icon-text">
              Ask any business owner what software they are using and you will receive as many different responses.
              We don't prescribe solutions without understanding the problems. Our platform integrates
              with yours and creates data fabric for your business.
            </p>
          </li>


          <li class="mb-5">
            <div class="featured-list-icon text-primary">
              <span class="icon icon-emoji-neutral"></span>
            </div>
            <p class="featured-list-icon-text mb-0"><strong>Learning & Growth</strong></p>
            <p class="featured-list-icon-text">
              We ensures success by teaching advisors and staff on how to use the tools that run the business effectively.
              Our approach is customer focused and we coach advisors through the process of turning prospects into customers.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>


<!--</div>--> <!--this may be a div that should be removed-->






  </div>
</div>



{% endblock %}



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
