{% extends "base.html" %}
{% load staticfiles %}


        {% block title %}
        goboAdvisor &middot; Our Services
        {% endblock %}



{% block content %}
  <div class="block block-secondary app-block-marketing-grid">
    <div class="container text-xs-center">

      <div class="row mb-5 justify-content-center">
        <div class="col-10 col-sm-8 col-lg-6">
          <h1 class="mb-1">Our Services</h1>
        </div>
      </div>
    </div>
  </div>

<div>
  <div class="container">
    <div class="row justify-content-center">
    <div class="col-sm-8 text-center mb-5">

      <p class="lead mx-auto">We understand the customer because our roots run deep in <strong>sales and operations</strong>.
        We start at the end and reverse engineer problems so that you know where you are and understand where you need to go.</p>
    </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <ul class="featured-list">
          <li class="mb-5">
            <div class="featured-list-icon text-primary">
              <span class="icon icon-image"></span>
            </div>
            <p class="featured-list-icon-text mb-0"><strong>Lead Generation</strong></p>
            <p class="featured-list-icon-text">
              Finding prospects and building brand-name recognition go hand in hand. We help teams locate and target
              potential customers using readily available resources, coaching them through the sales and closing process.
            </p>
          </li>

          <li class="mb-5">
            <div class="featured-list-icon text-primary">
              <span class="icon icon-hour-glass"></span>
            </div>
            <p class="featured-list-icon-text mb-0"><strong>Strategic Consulting</strong></p>
            <p class="featured-list-icon-text">
              Figuring out where to start often prevents people from ever getting starting. We help you clearly communicate your vision while
              reverse engineering the problem so that you can have a map to guide you through the process of building a scalable platform.
            </p>
          </li>

        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="featured-list">

          <li class="mb-5">
            <div class="featured-list-icon text-primary">
              <span class="icon icon-cloud"></span>
            </div>
            <p class="featured-list-icon-text mb-0"><strong>Platform Development </strong></p>
            <p class="featured-list-icon-text">
              Ask any business owner what software they are using and you will receive as many different responses.
              We don't prescribe solutions without understanding the problems. Our platform integrates
              with yours and creates data fabric for your business.
            </p>
          </li>

          <li class="mb-5">
            <div class="featured-list-icon text-primary">
              <span class="icon icon-emoji-neutral"></span>
            </div>
            <p class="featured-list-icon-text mb-0"><strong>Learning & Growth</strong></p>
            <p class="featured-list-icon-text">
              We ensure your team's success by teaching them how to use the tools required to run the business effectively,
              so that your customers can get the best service from your advisors.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



  <div class="block block-secondary app-block-marketing-grid">
    <div class="container text-xs-center">

      <div class="row mb-5 justify-content-center">
        <div class="col-10 col-sm-8 col-lg-6">
          <h6 class="text-muted text-uppercase mb-2">Inside the machine</h6>
          <h2 class="mb-4">We follow a simple process to make your life easier every day.</h2>
        </div>
      </div>

      <div class="row app-marketing-grid">
        <div class="col-md-3 px-3 mb-5">
          <img class="mb-1" src="{% static 'img/startup-9.svg' %}">
          <p><strong>Define the Goal</strong> We’re always here for you no matter what time of day.</p>
        </div>
        <div class="col-md-3 px-3 mb-5">
          <img class="mb-1" src="{% static 'img/startup-10.svg' %}">
          <p><strong>Organize.</strong> We automatically handle all sales analytics.</p>
        </div>
        <div class="col-md-3 px-3 mb-5">
          <img class="mb-1" src="{% static 'img/startup-11.svg' %}">
          <p><strong>Formalize.</strong> Our data analysis is distributed, so it processes in seconds.</p>
        </div>
        <div class="col-md-3 px-3 mb-5">
          <img class="mb-1" src="{% static 'img/startup-11.svg' %}">
          <p><strong>Implement.</strong> Our data analysis is distributed, so it processes in seconds.</p>
        </div>

      </div>
      <div class="row app-marketing-grid">
        <div class="col-md-4 px-4 mb-5">
          <img class="mb-1" src="{% static 'img/startup-12.svg' %}">
          <p><strong>Rich calculations.</strong> Limitless ways to splice and dice your data.</p>
        </div>
        <div class="col-md-4 px-4 mb-5">
          <img class="mb-1" src="{% static 'img/startup-13.svg' %}">
          <p><strong>Mobile apps.</strong> iOS and Android apps available for monitoring.</p>
        </div>
        <div class="col-md-4 px-4 mb-5">
          <img class="mb-1" src="{% static 'img/startup-14.svg' %}">
          <p><strong>Secure connections.</strong> Every single request is routed through HTTPS.</p>
        </div>
      </div>
    </div>
  </div>



  <div class="block app-price-plans">
    <div class="container text-center">

      <div class="row mb-5 justify-content-center">
        <div class="col-10 col-md-8 col-lg-6">
          <h6 class="text-muted text-uppercase mb-2">Business Talk</h6>
          <h2>No plans. We just bump your plan whenever you need it.</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 px-4 pb-2 mb-5">
          <div class="px-2 mb-2">
            <h6 class="text-muted text-uppercase mb-4">Personal</h6>
            <img class="mb-4" src="{% static 'img/startup-15.svg' %}">
            <p class="pb-2">Plenty of processing power for any personal projects, big or small.</p>
          </div>

          <ul class="list-unstyled list-bordered text-xs-left my-4">
            <li class="py-4"><strong>10k</strong> monthly requests</li>
            <li class="py-4"><strong>9am-5pm</strong> technical supprt</li>
            <li class="py-4"><strong>Public</strong> API access</li>
          </ul>

          <button class="btn btn-lg btn-primary btn-block">
            Start <span class="d-none d-xl-inline">a personal account</span>
          </button>
        </div>

        <div class="col-md-4 px-4 pb-2 mb-5">
          <div class="px-2">
            <h6 class="text-muted text-uppercase mb-4">Business</h6>
            <img class="mb-4" src="{% static 'img/startup-16.svg' %}">
            <p class="pb-2">The perfect sized plan for small businesses to get started.</p>
          </div>

          <ul class="list-unstyled list-bordered text-xs-left my-4">
            <li class="py-4"><strong>100k</strong> monthly requests</li>
            <li class="py-4"><strong>24/7</strong> technical supprt</li>
            <li class="py-4"><strong>Public</strong> API access</li>
          </ul>

          <button class="btn btn-lg btn-primary btn-block">
            Start <span class="d-none d-xl-inline">a business account</span>
          </button>
        </div>

        <div class="col-md-4 px-4 pb-1 mb-5">
          <div class="px-2">
            <h6 class="text-muted text-uppercase mb-4">Corporate</h6>
            <img class="mb-4" src="{% static 'img/startup-17.svg' %}">
            <p class="pb-2">An unlimited plan that will scale infinitely to any size project.</p>
          </div>

          <ul class="list-unstyled list-bordered text-xs-left my-4">
            <li class="py-4"><strong>Unlimited</strong> monthly requests</li>
            <li class="py-4"><strong>24/7</strong> technical supprt</li>
            <li class="py-4"><strong>Public &amp; Private</strong> API access</li>
          </ul>

          <button class="btn btn-lg btn-primary btn-block">
            Start <span class="d-none d-xl-inline">a corporate account</span>
          </button>
        </div>
      </div>

    </div>
  </div>

  </div>


{% endblock %}



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
